/* General rules and background image */

body {
    color: #ffffee;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* ---------- Positioning and sizing */

.centered {
    margin-top: 4%;
    height: auto;
    width: 70vw;
    padding: 5px;
}

.header-img {
    height: auto;
    width: 12vw;
    padding: 0;
}

/* ---------- Core Styling */

.ttstyle {
    background-color: #2274a5;
    border: 1px solid #d4af37;
}

p {
    color: #ffffee;
    font-size: 2vw;
    display: inline-block;
    font-family: Arvo, serif;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 5vw;
    color: #d4af37;
}

h2 {
    color: #d4af37;
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
    font-weight: bold;
}

/* ------ NavBar ------ */

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar-nav {
    text-align: right;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d4af37;
    padding: 5px 10px;
    font-size: 6vw;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffee;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #242045;
}

.navbar .navbar-icon {
    color: #d4af37;
    font-size: 9vw;    
}

/* --------- Media queries */

@media screen and (min-width: 768px) {
    p {
        font-size: 2vw;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
    .h3 {
        font-size: 2vw;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 4vw;
    }
}

@media screen and (min-width: 992px) {
    p {
        font-size: 1vw;
    }
    h1 {
        font-size: 3vw;
    }
    h2 {
        font-size: 2vw;
    }
    h3 {
        font-size: 2vw;
    }
    .header-img {
        height: auto;
        width: 6vw;
    }
    .centered {
        width: 60vw;
    }
}