/* General rules and background image */

body {
    color: #ffffee;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.blank-space {
    display: inline-block;
    height: 11vh;
}

/* ---------- Positioning and sizing */

.centered {
    height: auto;
    width: 75vw;
    padding: 5px;
}

.header-container {
    width: 95vw;
}

.footer-container {
    margin: auto;
    width: 95vw;
    padding: 5px;
    position: fixed;
    bottom: 1vh;
    left: 3vw;
    max-height: 10vh;
}

/* ---------- Core Styling */

.ttstyle {
    background-color: #2274a5;
    border: 1px solid #d4af37;
}

.ttstyle-fade {
    background-color: rgba(34, 116, 165, 0.75);
    border: 1px solid #d4af37;
}

p {
    color: #ffffee;
    font-size: 3vw;
    display: inline-block;
    font-family: Arvo, serif;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 5vw;
    color: #d4af37;
    line-height: 1;
    font-weight: bold;
}

h2 {
    color: #d4af37;
    font-size: 4vw;
    line-height: 1;
    font-weight: bold;
}

h3 {
    font-size: 4vw;
    line-height: 1;
}

a {
    color: #d4af37;
}

a:hover {
    color: #242045;
    text-decoration: none;
}

/* ---------- Header */

.header-img {
    height: auto;
    width: 12vw;
    padding: 0;
}

.menu-notice {
    position: relative;
    left: 25vw;
    margin: auto;
    color: #d4af37;
    font-size: 8vw;
}

/* ---------- Footer */

.footer-text {
    color: #d4af37;
    font-size: 2.5vw;
    display: inline-block;
    font-family: 'Lobster Two', cursive;
}

.footer-img {
    height: auto;
    width: 7vw;
    padding: 0;
    max-width: 13vw;
    position: relative;
    bottom: 1vh;
    padding-right: 10px;
}

.social-icon {
    padding-right: 8px;
}

/* ---------- About Page */

.principle-text {
    padding-bottom: 10px;
}

.rank-icon {
    width: 6vw;
}

.feedback-user {
    color: #d4af37;
    font-weight: bold;
}

/* Tournaments Page */

.tournament-item {
    padding: 1em 0em 1em 1em;
    position: relative;
    color: #ffffee;
    border-left: 1px solid #d4af37;
    text-align: left;
}

.tournament-item:before {
    content: attr(data-dates);
    position: absolute;
    top: -0.5vh;
    display: block;
    font-family: "Arvo", serif;
}

.tournament-item:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    display: block;
    top: 0;
    position: absolute;
    left: -6px;
    content: '';
    background: #d4af37;
}

.tournaments-timeline {
    margin-top: 10px;
}

/* ---------- NavBar */

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar .navbar-toggler-icon {
    background-image: url(../images/nav-logo.png);
    font-size: 8vw;
    left: 17%;
    position: relative;
}

.navbar-nav {
    text-align: right;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d4af37;
    padding: 5px 15px;
    font-size: 6vw;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffee;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #242045;
}

/* --------- Media queries */

@media screen and (min-width: 768px) {
    p {
        font-size: 2vw;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 3vw;
    }
    .h3 {
        font-size: 2vw;
    }
}

@media screen and (min-width: 992px) {
    .header-container {
        width: 80vw;
    }
    .footer-container {
        width: 80vw;
        left: 10vw;
    }
    p {
        font-size: 0.75vw;
    }
    h1 {
        font-size: 1.5vw;
    }
    h2 {
        font-size: 1.5vw;
    }
    h3 {
        font-size: 1.5vw;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 3vw;
    }
    .header-img {
        height: auto;
        width: 4vw;
    }
    .footer-img {
        height: auto;
        width: 4vw;
        bottom: 3vh;
    }
    .footer-text {
        font-size: 1.5vw;
    }
    .principle-text {
        font-size: 0.70vw;
    }
    .rank-icon {
        width: 2vw;
    }
    .feedback-text {
    font-size: 0.75vw;
    }
}

/* ---------- Testing */

