/* General rules and background image */

body {
    color: #ffffee;
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    background: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.blank-space {
    display: inline-block;
    height: 11vh;
}

/* ---------- Positioning and sizing */

.centered {
    height: auto;
    width: 75vw;
    padding: 5px;
}

.header-container {
    width: 95vw;
    z-index: 1;
}

.footer-container {
    margin: auto;
    width: 95vw;
    padding: 5px;
    position: fixed;
    bottom: 1vh;
    left: 3vw;
}

.modal-container {
    width: inherit;
    display: inline-block;
    position: relative;
    padding-top: 1.5vh;
    bottom: 2vh;
}

/* ---------- Core Styling */

.ttstyle {
    background-color: #2274a5;
    border: 1px solid #d4af37;
}

.ttstyle-fade {
    background-color: rgba(34, 116, 165, 0.75);
    border: 1px solid #d4af37;
}

.highlight {
    display: inline;
    color: #d4af37;
}

p {
    color: #ffffee;
    font-size: 3vw;
    display: inline-block;
    font-family: Arvo, serif;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 5vw;
    color: #d4af37;
    line-height: 1;
    font-weight: bold;
}

h2 {
    font-size: 4vw;
    color: #d4af37;
    line-height: 1;
    font-weight: bold;
}

h3 {
    font-size: 4vw;
    line-height: 1;
}

h4 {
    font-size: 4vw;
}

a {
    color: #d4af37;
}

a:hover {
    color: #242045;
    text-decoration: none;
}

/* ---------- Header */

.header-img {
    height: auto;
    width: 12vw;
    padding: 0;
}

.menu-notice {
    position: relative;
    left: 25vw;
    margin: auto;
    color: #d4af37;
    font-size: 8vw;
}

/* ---------- Footer */

.footer-text {
    color: #d4af37;
    font-size: 2.5vw;
    display: inline-block;
    font-family: 'Lobster Two', cursive;
    vertical-align: middle;
}

.footer-img {
    height: auto;
    width: 7vw;
    max-width: 13vw;
    padding-right: 10px;
}

.social-icon {
    padding-right: 8px;
}

/* ---------- About Page */

.principle-text {
    padding-bottom: 10px;
}

.rank-icon {
    width: 6vw;
}

.feedback-user {
    color: #d4af37;
    font-weight: bold;
}

/* Tournaments Page */

.tournament-item {
    padding: 0 0 1vh 1em;
    position: relative;
    color: #ffffee;
    border-left: 1px solid #d4af37;
    text-align: left;
    bottom: 3vh;
    font-size: 3vw;
}

.tournament-item:before {
    content: attr(data-dates);
    position: relative;
    display: block;
    font-family: "Arvo", serif;
}

.tournament-item:after {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    display: block;
    top: 0;
    position: absolute;
    left: -6px;
    content: '';
    background: #d4af37;
}

.tournaments-timeline {
    margin: 4vh 0 -3vh;
}

.signup-guide {
    text-align: left;
    font-size: 3vw;
    font-family: Arvo, serif;
}

.signup-logo {
    width: 4vw;
}

/* ---------- FAQ/Contact page */

.faq-question, .faq-answer {
    margin-bottom: 1vh;
}

.query-form {
    margin: 1vh auto;
    width: 70%;
    text-align: left;
}

.form-group {
    margin: 0 auto;
    width: 92%;
}

.form-text {
    font-size: 3vw;
}

label {
    font-size: 4vw;
}

/* ---------- Buttons */

.contact-btn {
    color: #d4af37;
    margin: 1vh 0;
}

.contact-btn:hover {
    color: #242045;
    border-color: #242045;
}

.index-btn {
    color: #d4af37;
    margin: 1vh auto;
    font-size: 4vw;
}

.index-btn:hover {
    color: #242045;
    border-color: #242045;
}

/* ---------- NavBar */

.navbar .navbar-toggler {
    border: none;
    outline: none;
}

.navbar .navbar-toggler-icon {
    background-image: url(../images/nav-logo.png);
    font-size: 8vw;
    left: 17%;
    position: relative;
}

.navbar-nav {
    text-align: right;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d4af37;
    padding: 5px 15px;
    font-size: 6vw;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffee;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #242045;
}

/* ---------- Modal */

.modal-banner {
    font-family: Arvo, serif;
    color: #ffffee;
    font-size: 4vw;
}

.modal-title {
    margin: auto;
    font-size: 5vw;
}

.modal-text {
    padding: 1vh 0;
}

.modal-content {
    width: 80%;
    margin: 3vh auto;
}

.modal-header {
    border-bottom: 1px solid #d4af37;
}

.modal-footer {
    border-top: 1px solid #d4af37;
    text-align: center;
}

.close {
    color: #d4af37;
    text-shadow: none;
    opacity: 1;
    text-align: center;
    margin: 0 auto;
}

.close:hover {
    color: #242045;
}

/* --------- Media queries */

@media screen and (max-width: 319px) {
    .footer-img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    p, .form-text {
        font-size: 2vw;
    }
    h1 {
        font-size: 4vw;
    }
    h2, .modal-title {
        font-size: 3vw;
    }
    h3, label, .modal-banner {
        font-size: 2.5vw;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 4vw;
    }
}

@media screen and (min-width: 992px) {
    .header-container {
        width: 80vw;
    }
    .footer-container {
        width: 80vw;
        left: 10vw;
    }
    p, .feedback-text, .tournament-item, .form-text {
        font-size: 0.75vw;
    }
    h1, h2, h3, .footer-text, label, .modal-banner {
        font-size: 1.5vw;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 3vw;
    }
    .principle-text {
        font-size: 0.70vw;
    }
    .rank-icon {
        width: 2vw;
    }
    .header-img, .footer-img {
        width: 5vw;
    }
    .signup-guide {
        font-size: 1.25vw;
    }
    .signup-logo {
        width: 2vw;
    }
    .modal-content {
        width: 100%;
    }
    .modal-title {
        font-size: 2.25vw;
    }
    .modal-text, .index-btn {
        font-size: 1vw;
    }
}

/* ---------- Testing */

